<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Visualisasi - Team Gradio</title>
    <!-- base:css -->
    <link
      rel="stylesheet"
      href="../vendors/mdi/css/materialdesignicons.min.css"
    />
    <link rel="stylesheet" href="../vendors/base/vendor.bundle.base.css" />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../css/style.css" />
    <!-- endinject -->
    <link rel="shortcut icon" href="images/mini logo.png" />
  </head>

  <body>
    <div class="container-fluid">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="main-panel documentation">
          <div class="content-wrapper">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 doc-started text-center">
                  <h1 class="text-success mt-4 text-center">About Us</h1>
                  <hr>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                  <div class="col-12 grid-margin" id="doc-intro">
                    <div class="card">
                      <div class="card-body">
                        <h3 class="mb-4 "> <strong>Introduction</strong></h3>
                        <hr>
                        <p style="text-align: justify;">
                          Pemanasan global merupakan sebuah fenomena dimana suhu di permukaan bumi terus meningkat.
                          Pemanasan global telah terjadi sejak masa revolusi Industri, dimana suhu tahunan global mulai
                          meningkat sebesar 1°C pertahunnya. Diantara tahun 1880 hingga 1980, sekitar rata-rata
                          0.07°Celcius meningkat setiap 1 dekade. Sejak tahun 1981, kenaikan suhu tersebut meningkat
                          hingga dua kali lipat. Alhasil selama 40 tahun terakhir, suhu global mengalami kenaikan
                          sebesar 0.18°Celcius per dekade.
                          <br> Hal ini mengakibatkan suhu di bumi memanas. Bahkan sembilan dari sepuluh tahun terpanas sejak
                          tahun 1880, telah terjadi sejak tahun 2005. Dan 5 tahun terpanas terjadi sejak tahun 2015.
                          Para ilmuwan memperkirakan bahwa jika kita tidak membatasi kenaikan suhu paling besar yaitu
                          1.5°Celcius per dekade hingga 2040, maka kita akan mengalami kekeringan, kebakaran hutan,
                          banjir, dan bencana alam lainnya yang terjadi dikarenakan perubahan iklim dan pemanasan
                          global.<br>
                          Pemanasan global disebabkan oleh efek rumah kaca, sebuah efek dimana emisi seperti karbon
                          dioksida, metana, dinitro oksida, fluorin dan sebagainya menahan cahaya panas matahari yang
                          masuk ke dalam bumi. Sebenarnya hal ini merupakan sesuatu yang bagus, karena tanpa adanya gas
                          rumah kaca, seperti karbondioksida (CO<small>2</small>), metana (CH<small>4</small>), atau
                          dinitro oksida (N<small>2</small>O), suhu
                          permukaan bumi akan berkisar -33 derajat Celcius. Tetapi jika gas-gas tersebut menyelimuti
                          bumi secara berlebihan, maka akan membuat suhu bumi meningkat. Gas-gas tersebut memiliki sifat
                          sulit untuk menghilang, terutama karbon dioksida. Sebuah pernyataan di dalam laporan IPCC
                          Fourth Assessment Report, Working Group I (AR4, WG-I) Executive Summary of Chapter 7
                          mengatakan,
                        </p>
                        <div class="alert alert-success mt-4 d-flex align-items-center" role="alert">
                          <i class="ti-info-alt me-4"></i>
                          <p>"About 50% of a CO2 increase will be removed from the atmosphere within 30 years, and a
                            further 30% will be removed within a few centuries. The remaining 20% may stay in the
                            atmosphere for many thousands of years. From U.S Greenhouse Gas Inventory Reports:
                            Atmospheric lifetime: 50-200 years.".</p>
                        </div>
                        <p style="text-align: justify;">
                          Dimana hal tersebut berarti sekitar 20% karbondioksida akan mungkin tetap ada hingga ratusan
                          tahun kedepan. Gas rumah kaca dapat datang dari banyak hal, seperti penggunaan energi, dan
                          pertambangan. Tetapi gas rumah kaca lebih banyak berasal dari pembakaran bahan bakar fossil
                          yang digunakan untuk pembuatan listrik, heater(pemanas), dan transportasi. Seperti dilansir
                          oleh United States Environmental Protection Agency,
                        </p>
                        <div class="alert alert-success mt-4 d-flex align-items-center" role="alert">
                          <i class="ti-info-alt me-4"></i>
                          <p class="d-inline">
                            A typical passenger vehicle emits about 4.6 metric tons of carbon dioxide per year. This
                            assumes the average gasoline vehicle on the road today has a fuel economy of about 22.0 miles
                            per gallon and drives around 11,500 miles per year.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row ">
                    <div class="col-12 ">
                    <div class="col-12 grid-margin">
                        <div class="card bg-success">
                            <div class="card-body">
                            <h2 class="text-white mdi mdi-account-card-details text-center"> MEMBER</h2>
                            
                            
                        </div>
                        </div> 
                    </div>
                    </div>
                  </div>
                  <!-- edwin -->
                  <div class="container-fluid page-body-wrapper">
                    <div class="main-panel" >
                  <div class="row mt-lg-auto">
                    <div class="content-wrapper">
                    <div class="row text-center justify-content-center">
                  <div class="col-lg-4 grid-margin stretch-card" >
                    <div class="card bg-success text-white" style="width: 100%;  border-radius: 4%;">
                    <img src="images\about\edwin.jpg" style="height: 25rem; object-fit: cover;"class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text-white">10121154</h5>
                      <span style="font-size: 30px; font-weight: bold;">EDWIN LIONA JAYA</span>
                       
                    </div>
                    </div>
                    </div>
                    <!-- hanif -->
                  <div class="col-lg-4 grid-margin stretch-card" >
                    <div class="card bg-success text-white" style="width: 100%; border-radius: 4%;">
                    <img src="images\about\hanif.jpg" style="height: 25rem; object-fit: cover;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-white">10121161</h5>
                        <span style="font-size: 30px; font-weight: bold;">HANIF AHMAD SYAUQI</span>
                    </div>
                    </div>
                    </div>
                    <!-- eri -->
                    <div class="col-lg-4 grid-margin stretch-card" >
                    <div class="card bg-success text-white" style="width: 100%; border-radius: 4%;">
                    <img src="images\about\eri.jpg" style="height: 25rem; object-fit: cover;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-white">10121139</h5>
                        <span style="font-size: 30px; font-weight: bold;">ERI SUKMAWAN</span>
                       
                    </div>
                    </div>
                    </div>
                    <!-- raihan -->
                    <div class="col-lg-4 grid-margin stretch-card" >
                    <div class="card bg-success text-white" style="width: 100%; border-radius: 4%;">
                    <img src="images\about\raihan.jpg" style="height: 25rem; object-fit: cover;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-white">10121141</h5>
                        <span style="font-size: 30px; font-weight: bold;">RAIHAN RAMADHAN</span>
                       
                    </div>
                    </div>
                    </div>
                    <!-- badar -->
                    <div class="col-lg-4 grid-margin stretch-card" >
                    <div class="card bg-success text-white" style="width: 100%; border-radius: 4%;">
                    <img src="images\about\badar.jpg" style="height: 25rem; object-fit: cover;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-white">10121135</h5>
                        <span style="font-size: 30px; font-weight: bold;">ALFATIHNAMAN BADHARIJA PUTRA MADVI</span>
                    </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="text-center">
            <a class="btn btn-success" href="/"><i class="mdi mdi-home me-2"></i>Back to home</a>
          </div>
          <br>
          </div>
          <!-- partial:../partials/_footer.html -->
          <footer class="footer">
            <div class="footer-wrap">
              <div class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © Team GRADIO </a>2023</span>
              </div>
            </div>
          </footer>
          <!-- partial -->
        </div>
      </div>
    </div>
  </body>
</html>
